@keyframes closePlayerAnimation {
    from {width: 800px;}
    to {width: 0px;}
}

@keyframes openPlayerAnimation {
    from {width: 0px;}
    to {width: 800px;}
}

.ScrollContainer {
    height: 160px;
    position: absolute;
    top: 16px;
    width: 800px;
    right: 235px;
    z-index: 500;
    display: flex;
    align-items: center;
    animation: openPlayerAnimation 1s;
    animation-fill-mode: forwards;
    flex-direction: row-reverse;
}

.close-player {
    animation: closePlayerAnimation 1s;
    animation-fill-mode: forwards;
}