.account-security-code-input {
    padding: 0.35rem;
    text-align: center;
}

.account-security-section {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-security-phone-input {
    padding-left: 16px;
    margin: 0px;
}

.pre-phone-logo {
    position: absolute;
    margin-top: 9px;
    margin-left: 12px;
}

.pre-time-input {
    position: absolute;
    margin-left: 48px
}