body {
  font-family: "AzarMehr";

  margin: 0;
  color: rgba(0, 0, 0, 0.713);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
html {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select,
option {
  font-family: inherit;
}

* {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #858585d2;
  }

  ::-webkit-scrollbar-thumb {
    background: #d7d7d7c0;
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

