.tw-inner-shaow {
    box-shadow: inset 0px 3px 5px -1px #8cc7ee
  }
  
  .tw-inner-shaow-2 {
    box-shadow: inset 0px 3px 8px -1px red
  }
  
  .tw-inner-shaow-3 {
    box-shadow: inset 0px 3px 10px -1px rgb(0 0 0 / 0.4)
  }
  
  .tw-box-shaow {
    box-shadow: 0px 1px 10px 0 #f380dade
  }
  
  .tw-box-shaow-2 {
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.678)
  }
  
  .tw-drop-shaow {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.678))
  }
  
  .tw-drop-shaow-warning {
    filter: drop-shadow(0 0 20px yellow)
  }
  
  .z-1000 {
    z-index: 1000;
  }
  
  .tw-items-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
  
  .tw-top-items {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
  }
  
  .tw-box-container {
    margin-top: 1.25rem;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 1280px) {
    .tw-box-container {
      height: 40%;
    }
  }
  
  @media (min-width: 1536px) {
    .tw-box-container {
      height: 50%;
    }
  }
  
  @media (min-width: 1850px) {
    .tw-box-container {
      height: 56.5%;
    }
  }
  
  .tw-box-1 {
    position: relative;
    display: flex;
    aspect-ratio: auto;
    height: 100%;
    width: 92.5%;
    flex-direction: column;
    row-gap: 1.25rem;
    overflow-y: auto;
    border-radius: 1.5rem;
    border-width: 2px;
    padding: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    --scrollbar-track: initial;
    --scrollbar-thumb: initial;
    --scrollbar-corner: initial;
    --scrollbar-track-hover: var(--scrollbar-track);
    --scrollbar-thumb-hover: var(--scrollbar-thumb);
    --scrollbar-corner-hover: var(--scrollbar-corner);
    --scrollbar-track-active: var(--scrollbar-track-hover);
    --scrollbar-thumb-active: var(--scrollbar-thumb-hover);
    --scrollbar-corner-active: var(--scrollbar-corner-hover);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    overflow: overlay;
  }
  
  .tw-box-1.overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .tw-box-1.overflow-y-hidden {
    overflow-y: hidden;
  }
  
  .tw-box-1::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }
  
  .tw-box-1::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }
  
  .tw-box-1::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner);
  }
  
  .tw-box-1::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-hover);
  }
  
  .tw-box-1::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
  
  .tw-box-1::-webkit-scrollbar-corner:hover {
    background-color: var(--scrollbar-corner-hover);
  }
  
  .tw-box-1::-webkit-scrollbar-track:active {
    background-color: var(--scrollbar-track-active);
  }
  
  .tw-box-1::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
  }
  
  .tw-box-1::-webkit-scrollbar-corner:active {
    background-color: var(--scrollbar-corner-active);
  }
  
  .tw-box-1 {
    scrollbar-width: auto;
  }
  
  .tw-box-1::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  .tw-main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    position: relative;
  }
  
  .tw-modal-container {
   position: absolute;
    width: 365px;
    max-height: 95vh;
    overflow-y: auto;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.25rem;
    z-index: 100;
  }
  
  @media (min-width: 1536px) {
    .tw-modal-container {
      width: 450px;
    }
  }
  
  .tw-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .header-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.5%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .text-header {
    display: flex;
    height: 2.5rem;
    width: 70%;
    align-items: center;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    box-shadow: inset 0px 3px 5px -1px #8cc7ee;
  }
  
  .header-p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  
  .tw-header-icon {
    display: flex;
    aspect-ratio: 1 / 1;
    width: 10.5%;
    justify-content: flex-start;
    gap: 0.25rem;
  }
  
  .container-main {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    padding: 0.25rem;
  }
  
  .container-video-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .container-inside-main {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  @media (min-width: 1536px) {
    .container-inside-main {
      gap: 1.25rem;
    }
  }
  
  .container-div-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .p-bold {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  
  @media (min-width: 1536px) {
    .p-bold {
      font-size: 22px;
    }
  }
  
  .para-class {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  
  @media (min-width: 1536px) {
    .para-class {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  
  @media (min-width: 1850px) {
    .para-class {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  
  .container-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-div {
    display: flex;
    flex-wrap: wrap;
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  .button {
    display: flex;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .container-icons {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  
  .position-icons {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
  
  .position-icons-2 {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
  }
  
  .span-number-icons {
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  
  @media (min-width: 1536px) {
    .span-number-icons {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  
  .width-icons {
    width: 20%;
  }
  
  .span-icon-HM {
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(2 132 199 / var(--tw-text-opacity));
  }
  .tw-w-100{
    width: 100%;
  }