.modal {
  top: 0;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #0000009e;
}

.modal-preview-base {
  top: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #0000009e;
  left: 0;
}



.modal-section {
  background: #F9F9F9;
  padding: 10px;

  @media (min-width: 1024px) {
    padding: 15px 10px;
  }

  border-radius: 10px;
  position: relative;
}

.modal-section-xs {
  width: 97%;
  height: fit-content;

  @media (min-width: 768px) {
    width: 340px;
    height: fit-content;
  }
}

.modal-section-sm {
  width: 97%;
  height: 489px;

  @media (min-width: 768px) {
    width: 450px;
    height: 490px;
  }
}

.modal-section-md {
  width: 1024px !important;
}

.modal-section-xl {
  width: 85% !important;
}

.modal-icon {
  width: 40px;
  height: 40px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.modal-title p {
  font-size: 19px !important;

  @media (min-width: 768px) {
    font-size: 24px !important;
  }

  font-weight: bold;
  color: #707070;
}

.modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1555px) {
  .modal-section-xl .modal-title p {
    font-size: 15px !important;
  }
}

.container-icon {
  display: flex;
  gap: 12px;
}



.header-modal-text {

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  text-transform: capitalize;
}