* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.leaflet-control-attribution.leaflet-control {
    display: none;
}

.leaflet-icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}