.tw-lefticon{
    left:50px !important;
    top: 50% !important;
    position: absolute !important;
}
.tw-righticon{
    right:50px !important;
    top: 50% !important;
    position: absolute !important;
}
.tw-flyto{
    right:50px !important;
    top:30px !important;
    position: absolute !important;
}