.wrapper-contextmenu {
    height: fit-content;
    z-index: 99999999;
    display: none;
    position: absolute;
    width: 225px;
    border-radius: 10px;
    background: #6e6e6e;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    border: 5px solid #9c8b33;
    box-shadow: 0 0 8px 1px rgb(22, 22, 22), inset 0 0 5px 2px rgb(22, 22, 22);
  }
  .wrapper-contextmenu .content_menu {
    height: fit-content;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .wrapper-contextmenu .content_menu .item {
    list-style: none;
    font-size: 22px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    align-items: center;
    margin-bottom: 2px;
    padding: 0 15px 0 15px;
  }
  .wrapper-contextmenu .content_menu .item:hover {
    background: #a19595;
    box-shadow: inset 0 0 5px 2px #524509;
  }
  .wrapper-contextmenu .content_menu .item span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .wrapper-contextmenu .content_menu .setting {
    display: flex;
    margin-top: -5px;
    padding: 5px 12px;
    border-top: 1px solid #9c8b33;
  }
  .wrapper-contextmenu .content_menu .share {
    position: relative;
    justify-content: space-between;
  }
  .share .share-menu {
    position: absolute;
    background: #6e6e6e;
    width: 200px;
    margin-right: 390px;
    top: -10px;
    left: -200px;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
    border: 5px solid #9c8b33;
    box-shadow: 0 0 20px 2px rgb(22, 22, 22), inset 0 0 5px 2px rgb(22, 22, 22);
    color: white;
  }
  .share:hover .share-menu {
    opacity: 1;
    pointer-events: auto;
  }
  .wrapper-contextmenu i {
    color: rgb(243, 206, 1);
  }
  .wrapper-contextmenu a {
    text-decoration: none;
    color: white;
  }
  