@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-DS2-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-DS2-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-DS2-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-DS2-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-DS2-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-DS2-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AzarMehr';
  src: url('/public/fonts/AzarMehr-ExtraBlack.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: "DigitalNumber";
  src: url("/public/fonts/Digital.woff")format("woff"),
}

body {
  font-family: "AzarMehr" !important;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  orientation: landscape;
}

input {
  font-family: "AzarMehr" !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner controls in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


button {
  font-family: "AzarMehr" !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AzarMehr" !important;
}



p {
  font-size: 16px;
}



a {
  text-decoration: none;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  @media (min-width: 1024px) {
    border-radius: 20px;
  }
}



.tooltip-container {
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: rgb(156, 139, 51);
  border-style: solid;
  background-color: rgb(139, 139, 139);
  padding: 3.5px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 50%);
  width: max-content;
  animation-name: tooltip-horizontal-move;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes tooltip-horizontal-move {
  0% {
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transition: all 0.3s;
  }
}

* {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #85858590;
  }

  ::-webkit-scrollbar-thumb {
    background: #d7d7d74d;
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}