.footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    padding: 4px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from:  #fff;
    --tw-gradient-stops:  var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to:  #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.8) 0px -5px 10px 0px;
    height: 40px;
    z-index: 500;
    cursor: default;
}

.footer-assets {
    position: relative;
}

.footer-value {
    border: 2px solid #fff;
    width: 8vw;
    padding: 4px;
    text-align: right;
    border-radius: 8px;
    font-weight: 600;
    font-family: monospace;
    --tw-text-opacity:  1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.footer-assets .footer-assets-image {
    width: 3vw;
    position: absolute;
    bottom: 0;
    left: -1vw;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-section-one {
    width: 60vw;
}

.footer-section-two {
    width: 12vw;
}

.footer-section-three {
    width: 6.5vw;
    display: flex;
    justify-content: initial;
    align-items: inherit;
}

.footer-section-four {
    width: 5vw;
}

.footer-icon-button {
    width: 2.5vw;
    margin-bottom: 2vw;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .footer-section.footer-section-four {
        width: 100px !important;
        margin-left: 40px !important;
    }

    .footer-icon-button {
        width: 40px !important;
    }
}