.accordion__adviser {
  max-width: 98%;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.accordion__adviser__open {
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  max-width: 98%;
  transform: translatex(0);
}
.tw-close-accor {
  width: 100% !important;
  transform: translatex(100%);
}
.tw-accordion-cont {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 61%;
  z-index: 501;
  right: 0.5%;

}
@media (min-width: 1536px) {
  .tw-accordion-cont {
    top: 53%;
  }
}
.tw-icon-acc {
  width: 72px;
  margin-right: 16px;
}
.gra-bg {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(2px);
  background: #0000008c;
}

/* start */

.container-asli {
  width: 100%;
  position: fixed;
  top: 78%;
  z-index: 1000;
}
@media (min-width: 1536px) {
  .container-asli {
    top: 73%;
  }
}
.position-icon {
  position: absolute;
  top: 55%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container-slide {
  display: flex;
  width: 100%;
}

.input-hidden {
  display: none;
}

.label-class {
  display: block;
  height: 5%;
  width: 5%;
  padding-right: 1%;
  position: absolute;
  top: -38%;
}

.show-slide {
  margin-right: 1%;
  display: flex;
  overflow: auto;
}

@media (min-width: 1280px) {
  .show-slide {
    overflow-x: hidden;
  }

  .scrollbar.show-slide {
    overflow-x: hidden;
  }

  .scrollbar-thin.show-slide {
    overflow-x: hidden;
  }
}

@media (min-width: 1536px) {
  .show-slide {
    overflow-x: hidden;
  }

  .scrollbar.show-slide {
    overflow-x: hidden;
  }

  .scrollbar-thin.show-slide {
    overflow-x: hidden;
  }
}

.container-box {
  display: flex;
  height: auto;
  width: 100%;
  gap: 1rem;
  border-radius: 0.125rem;
  padding: 1.5%;
}

.w-box {
  width: 11%;
}

.box-1 {
  display: flex;
  height: 11.5vh;
  border-width: 4px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 32 237);
  --tw-bg-opacity: 1;
  background-color: rgb(0 205 23);
}

.box-2 {
  display: flex;
  height: 11.5vh;
  border-style: solid;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(255 247 0);
  --tw-bg-opacity: 1;
  background-color: rgb(0 205 23);
}

.box-3 {
  display: flex;
  height: 11.5vh;
  border-style: solid;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(255 1 0);
  --tw-bg-opacity: 1;
  background-color: rgb(0 205 23);
}

.box-4 {
  position: relative;
  display: flex;
  height: 11.5vh;
  align-items: flex-end;
  justify-content: flex-end;

  border: 4px solid rgb(0 32 237);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.box-5 {
  position: relative;
  display: flex;
  height: 11.5vh;
  align-items: flex-end;
  justify-content: flex-end;

  border: 4px solid rgb(255 247 0);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.box-6 {
  position: relative;
  display: flex;
  height: 11.5vh;
  align-items: flex-end;
  justify-content: flex-end;
  border: 4px solid rgb(255 1 0);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.box-7 {
  display: flex;
  height: 11.5vh;
  --tw-bg-opacity: 1;
  background-color: rgb(0 32 237);
}

.box-8 {
  display: flex;
  height: 11.5vh;
  --tw-bg-opacity: 1;
  background-color: rgb(255 247 0);
}

.box-9 {
  display: flex;
  height: 11.5vh;
  --tw-bg-opacity: 1;
  background-color: rgb(255 1 0);
}

.inside-box-4 {
  position: absolute;
  z-index: 50;
  display: flex;
  height: 100%;
  width: 100%;
  --tw-text-opacity: 1;
  color: rgb(0 32 237);
}

.inside-box-5 {
  position: absolute;
  z-index: 50;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 247 0);
}

.inside-box-6 {
  position: absolute;
  z-index: 50;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 1 0);
}

.position-inside-box {
  position: absolute;
  bottom: 0px;
  z-index: 30;
  display: flex;
  height: 50%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
}

.position-text {
  margin-top: 0.25rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
}
.class-text {
  width: 100%;
  text-align: center;
}
.pattern-horizontal-stripes-sm {
  background-image: linear-gradient(0deg, transparent 50%, currentColor 50%);
  background-size: 10px 10px;
}
