name: Deploy to server 

on:
  push:
    branches:
      - main
  workflow_dispatch: # این خط برای اجرای دستی اضافه شده است

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: List build directory
        run: ls -la ./dist

      - name: Setup SSH for Deploy
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Debug secrets
        run: |
          echo "SERVER_USER: ${{ secrets.SERVER_USER }}"
          echo "SERVER_HOST: ${{ secrets.SERVER_HOST }}"
          echo "SERVER_PATH: ${{ secrets.SERVER_PATH }}"

      - name: Debug rsync command
        run: |
          echo "rsync -avz -e 'ssh -p 2222' --delete-after ./dist/ ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:${{ secrets.SERVER_PATH }}"

      - name: Check server directory
        run: |
          echo "Checking current directory on server..."
          ssh -p 2222 ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'pwd'

      - name: Deploy to server
        run: |
          echo "Deploying to server...."
          rsync -avz -e 'ssh -p 2222' --delete-after ./dist/ ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:${{ secrets.SERVER_PATH }}
